.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1000;
  background-color: red;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.box {
  height: 60vh;
  padding: 30px 0 0 0;
  text-align: center;
  background: #4e4e4e;
  width: 400px;
  margin: 30px auto;
  border-radius: 12px;
  font-size: 1.4em;
  color: white;
 

}
.box2 {
  height: 60vh;
  padding: 30px 0 0 0;
  text-align: center;
  background: #961c1c;
  width: 400px;
  margin: 30px auto;
  border-radius: 12px;
  font-size: 1.4em;
  color: white;
  transform-origin: left;
  animation: scrollv linear;
  animation-timeline: scroll(y);
  transform: translateY(-500px) translateX(-100px);
}
@keyframes scrollv {
  to {
    transform: translateY(0px) translateX(0);
  }
}